<div ng-controller="EmpresaController as empresa">
	<h3>
		Empresas
	</h3>
	<!-- START Form Panel-->
	<div class="panel panel-default">
		<div class="panel-heading">Pesquisa</div>
		<div class="panel-body">
			<form role="form">
				<div class="form-group">
					<label>Raz&atilde;o Social</label>
					<input type="email" placeholder="Enter email" class="form-control" />
				</div>
				<button type="submit" class="btn btn-sm btn-primary">Enviar</button>
				<a ui-sref="configuracao.empresa" class="btn btn-sm btn-default">Cancelar</a>
			</form>
		</div>
	</div>
	<!-- END Form Panel-->
</div>
