<div ng-controller="DadoCadastralController as dcCtrl">
	<h3>
		Clientes
		<a ui-sref="cliente.criarCliente" class="btn btn-sm btn-default pull-right">Adicionar</a>
	</h3>
	
	<div class="row">
	   <div class="col-md-4">
	      <div class="panel panel-default">
	         <div class="panel-heading">
	            <a href="" ng-click="favContact1=!favContact1" class="pull-right text-muted">
	               <em ng-class="favContact1 ? 'fa-star text-warning' : 'fa-star-o'" class="fa"></em>
	            </a>
	         </div>
	         <div class="panel-body text-center">
	            <img src="app/img/user/02.jpg" alt="Contact" class="center-block img-responsive img-circle thumb64" />
	            <h4>Audrey Hunt</h4>
	            <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
	         </div>
	         <div class="panel-footer clearfix">
	            <div class="pull-left"><a href="" class="btn btn-xs btn-primary">Send message</a>
	            </div>
	            <div class="pull-right"><a href="" class="btn btn-xs btn-default">View</a>
	            </div>
	         </div>
	      </div>
	   </div>
	   <div class="col-md-4">
	      <div class="panel panel-default">
	         <div class="panel-heading">
	            <a href="" ng-click="favContact2=!favContact2" ng-init="favContact2=true" class="pull-right text-muted">
	               <em ng-class="favContact2 ? 'fa-star text-warning' : 'fa-star-o'" class="fa"></em>
	            </a>
	         </div>
	         <div class="panel-body text-center">
	            <img src="app/img/user/03.jpg" alt="Contact" class="center-block img-responsive img-circle thumb64" />
	            <h4>Leonard Price</h4>
	            <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
	         </div>
	         <div class="panel-footer clearfix">
	            <div class="pull-left"><a href="" class="btn btn-xs btn-primary">Send message</a>
	            </div>
	            <div class="pull-right"><a href="" class="btn btn-xs btn-default">View</a>
	            </div>
	         </div>
	      </div>
	   </div>
	   <div class="col-md-4">
	      <div class="panel panel-default">
	         <div class="panel-heading">
	            <a href="" ng-click="favContact3=!favContact3" class="pull-right text-muted">
	               <em ng-class="favContact3 ? 'fa-star text-warning' : 'fa-star-o'" class="fa"></em>
	            </a>
	         </div>
	         <div class="panel-body text-center">
	            <img src="app/img/user/04.jpg" alt="Contact" class="center-block img-responsive img-circle thumb64" />
	            <h4>Jamie Stephens</h4>
	            <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
	         </div>
	         <div class="panel-footer clearfix">
	            <div class="pull-left"><a href="" class="btn btn-xs btn-primary">Send message</a>
	            </div>
	            <div class="pull-right"><a href="" class="btn btn-xs btn-default">View</a>
	            </div>
	         </div>
	      </div>
	   </div>
	</div>
</div>